
# Copyright 2020 Pants project contributors.
# Editors
# Licensed under the Apache License, Version 2.0 (see LICENSE).
# Pants workspace files
# Python files

__pycache__/
.idea/
.venv
.vscode/
*.iml
*.pyc
.cache
.pants.d/
.pants.workdir.file_lock*
.pids
.vscode
dist
lightning_logs/*
MNIST/*
