# Copyright 2020 Pants project contributors.
# Licensed under the Apache License, Version 2.0 (see LICENSE).
aiohttp
ansicolors>=1.0.2
argparse
gql[all] >= 2.0.0
grpcio==1.32.0
idna==2.10
pandas>=1.2.3
protobuf>=3.12.1
pyarrow>=3.0.0
pytorch_lightning>=1.2.8
ray[default] == 1.4.0
rdflib>=5.0.0
requests >=2.25.1
setuptools<56.0,>=50.3.0
torch >= 1.8.1
torchvision>=0.9.1
translate>=3.2.1